PORT=3030
MONGO_USERNAME=$MONGO_USERNAME
MONGO_PASSWORD=$MONGO_PASSWORD
MONGO_HOSTNAME=mongodb
MONGO_PORT=$MONGO_PORT
MONGO_DB=$MONGO_DB
AUTH_SECRET=$AUTH_SECRET
STORAGE_TYPE=$STORAGE_TYPE
AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
BUCKET_NAME=$BUCKET_NAME